html {
	height: 100%;
	width: 100%;
}
body {
	padding-top: 51px;
	padding-bottom: 30px;
	height: 100%;
	width: 100%;
	background-color: white;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

p {
	color: red;
}

h1, h3 {
	margin-top: auto;
	padding-left: 3px;
	padding-right: 3px;
	color: red;
    border-radius: 5px;
}

a {
	color: #f9c4ff;
}

a:hover {
	color: #920072
}

#copyright {
	font-style: italic;
	font-size: 12px;
	color: #FF8EE1;
}

#wrapper {
    overflow: hidden;
}

#left {
	float: left;
	min-width: 270px;
	width: 30%;
}

#right {
	overflow: hidden;
	width: auto;
}

#form1, #form2 {
	max-width: 231px;
	background-color: #FF8EE1;
	border-color: #e32dc8;
}

#text1 {
	border-color: #e32dc8;
	background-color: #FF8EE1;
}

#form1::-webkit-input-placeholder,
#form2::-webkit-input-placeholder,
#text1::-webkit-input-placeholder {
    color: #f9c4ff;
}

#form1:-moz-placeholder,
#form2:-moz-placeholder,
#text1:-moz-placeholder {
    color: #f9c4ff;
}

#form1::-moz-placeholder,
#form2::-moz-placeholder,
#text1::-moz-placeholder {
    color: #f9c4ff;
}
#form1:-ms-input-placeholder,
#form2:-ms-input-placeholder,
#text1:-ms-input-placeholder {
    color: #f9c4ff;
}

.dropdown-menu {	
	min-width: 0px;
	width: 80px;
	background-color: #e32dc8;
	border-color: #bd3389;
	color: #ecf0f1;
	padding-right: 100px;
}

.dropdown-menu > li > a {
	color: #ecf0f1;
}

.dropdown-menu > li > a:hover {
	color: #f9c4ff;
	background-color: #bd3389;
}

.navbar-inverse{
	background-color: #e32dc8;
	border-color: #bd3389;
}
.navbar-inverse .navbar-brand {
	color: #ecf0f1;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
	color: #f9c4ff;
}
.navbar-brand {
	padding-right: 20px;
}
.navbar-inverse .navbar-text {
	color: #ecf0f1;
}
.navbar-inverse .navbar-nav > li > a {
	color: #ecf0f1;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: #f9c4ff;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: #f9c4ff;
	background-color: #bd3389;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	color: #f9c4ff;
	background-color: #bd3389;
}
.navbar-inverse .navbar-toggle {
	border-color: #bd3389;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #bd3389;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #ecf0f1;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
	border-color: #ecf0f1;
}
.navbar-inverse .navbar-link {
	color: #ecf0f1;
}
.navbar-inverse .navbar-link:hover {
	color: #f9c4ff;
}
.jumbotron {
	color: #f9c4ff;
	background-color: #bd3389;
}

.form-control {
	color: #f9c4ff;
}

.input-group-addon {
	border-color: #e32dc8;
	background-color: #bd3389;
	color: #f9c4ff;
}

.content {
	background-color: black;
	padding: 10px;
}

@media (max-width: 767px) {
	#left {
		float: none;
		width: auto;
		margin-right:0;
	}
	#right {
		padding-top: 30px;
		width: auto;
		float: none;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
		color: #ecf0f1;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #f9c4ff;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #f9c4ff;
		background-color: #bd3389;
	}
}